@import url('gui.css');
@import url('tags.css');
@import url('tabs.css');
@import url('workbench.css');
@import url('collapsable_list.css');

#TopLogo
{
	position: absolute;
	top: 0px;
	left: 0px;
}

#Content
{
	background: #eee;
	min-height: 500px;
	position: relative;
	border-top: 2px solid #fff;
	top: 82px;
	left: 0px;
	padding: 0px;
}

#Footer
{
	background: url(../gfx/footer.jpg) repeat-x;
	min-height: 10px;
	padding: 16px;
	text-align: left;
	color: #444;
}

#ModuleList
{
	position: absolute;
	top: 51px;
	left: 0px;
	width: 100%;
	overflow: hidden;
	height: 34px;
}

#ModuleMoreArrowRight
{
	position: absolute;
	right: 5px;
	top: 60px;
	width: 16px;
	height: 16px;
	background: url(../gfx/icons/arrow_right.png);
	z-index: 1000;
}

#ModuleMoreArrowLeft
{
	position: absolute;
	left: 5px;
	top: 60px;
	width: 16px;
	height: 16px;
	background: url(../gfx/icons/arrow_left.png);
	z-index: 1000;
}

#ModuleListInner
{
	position: absolute;
	top: 0px;
	left: 0px;
}

.ModuleTab
{
	white-space: nowrap;
	position: absolute;
	line-height: 18px;
	background: url('../gfx/background_tab.jpg') repeat-x;
	padding: 0;
	margin: 2px 4px 0 0;
	border-top: 2px solid #DDDDDD;
	border-left: 2px solid #DDDDDD;
	border-right: 2px solid #DDDDDD;
	border-bottom: 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	opacity: 0.7;
	-webkit-transition: 0.2s all;
}
.ModuleTab:hover
{
	opacity: 0.9;
}
.ModuleTab:hover a, .ModuleTab:hover span a
{
	color: #fff;
}

.ModuleTabActive
{
	position: absolute;
	white-space: nowrap;
	line-height: 18px;
	background: #eee;
	padding: 2px 0 0 0;
	margin: 0px 4px 0 0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #eee;
	z-index: 10;
	height: 27px;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.ModuleTabActive span
{
	display: block;
	margin: 6px 12px;
}

.ModuleTab span
{
	display: block;
	margin: 6px 12px 4px 12px;
}
.ModuleTab span img, .ModuleTabActive span img
{
	vertical-align: bottom;
	margin-right: 3px;
	padding-bottom: 1px;
}

.ModuleTab a, .ModuleTab a:active, .ModuleTab a:visited
{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.ModuleTabActive a, .ModuleTabActive a:active, .ModuleTabActive a:visited
{
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

.ModuleContainer
{
	display: block;
	margin: 10px;
}

.Container
{
	display: block;
	border: 1px solid #ccc;
	background: #fcfcfc;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.SubContainer
{
	display: block;
	border: 1px solid #eee;
	background: #f8f8f8;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.SubContainer .SubContainer
{
	border: 1px solid #ddd;
	background: #eee;
}

.SubContainer .SubContainer .SubContainer
{
	border: 1px solid #ccc;
	background: #ddd;
}

.SubContainer .Container
{
	border: 1px solid #ddd;
	background: #fff;
}

.Object
{
	display: block;
	background: #f8f8f8;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 4px 0 8px;
}

.Object p
{
	margin: 10px 0 0 0;
}

.Object .ButtonBox
{
	float: right;
}

.TextDisplay
{
	display: block;
	border: 1px solid #ccc;
	background: #fff;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	overflow: hidden;
	overflow-y: auto;
}

.Spacer
{
	display: block;
	margin: 8px;
}

/*
	Switch lists
*/

tr.sw1, .sw1
{
	background: #f0f0f0;
}
tr.sw2, .sw2
{
	background: #e7e7e7;
}

tr.swSub1, .swSub1
{
	background: #f3f3f3;
}
tr.swSub2, .swSub2
{
	background: #f8f8f8;
}

/*
	Done switch lists
*/

#MetaButtons
{
	position: fixed;
	top: -2px;
	right: 7px;
	width: auto;
	z-index: 100;
}
#MetaButtons div
{
	padding: 7px 8px 5px 10px;
	background: #7197C6 url('../gfx/toptab.jpg') bottom center;
	border: 2px solid #598CB6;
	border-bottom: 2px solid #5586AD;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top: 0;
	color: #EDF5FF;
	margin: 0 1px 0 0;
	text-align: center;
	display: block;
	float: right;
	cursor: pointer;
}
#MetaButtons div img
{
	vertical-align: top;
}

/********* Bajax *******/
#BajaxProgressContainer
{
	position: absolute;
	top: 32px;
	right: 8px;
	width: 200px;
	height: 16px;
	background: #333;
	border: 1px solid #fff;
	visibility: hidden;
	-mos-border-radius: 2px;
	-webkit-border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#BajaxProgressContainer .Inner
{
	margin: 1px;
}

#BajaxProgress
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 14px;
	background: url('../gfx/loading_anim.gif');
	border-top: 1px solid #999;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #999;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#ToolTipRect
{
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	opacity: 0.7;
}
#ToolTipRect p
{
	margin: 0 0 4px 0;
}
#ToolTipRect div
{
	display: block;
	padding: 10px;
}


/* content lib */

#ColumnRightTd a 
{
	color: #555;
	text-decoration: none;
	font-weight: bold;
}
#ColumnRightTd a:hover
{
	color: #000;
	text-decoration: underline;
}

.ToggleBox
{
	display: block;
	visibility: hidden;
	position: absolute;
}

/* fieldstatus */

.FieldStatus
{
	float: right;
}

.FieldStatus div
{
	padding: 4px;
	background: #ffd;
	color: #000;
}

/*
	Edit boxes preview
*/
.TextDisplay
{
	color: #222;
}
.TextDisplay a
{
	color: #a00;
	text-decoration: none;
}

.TextDisplay h1, .TextDisplay h2, .TextDisplay h3, .TextDisplay h4
{
	border: 0;
	margin: 0 0 8px 0;
	padding: 0;
	background: none;
	color: #333;
}

.TextDisplay h1 { font-size: 23px; }
.TextDisplay h2 { font-size: 20px; }
.TextDisplay h3 { font-size: 15px; }
.TextDisplay h4 { font-size: 12px; }

/*
	Done edit boxes preview
*/

/*
	Objectconnections
*/
.ConnectedObject { padding: 4px; -moz-border-radius: 3px; border: 1px solid #ccc; }
.ConnectedObject img.Identifier { float: left; margin: 2px 4px 0 0; }
.ConnectedObject .Buttons { margin: 0; padding: 0; display: block; float: right; }
.ConnectedObject .Title { float: left; display: block; margin: 4px 0 0 4px; }


/** Text editor ***************************************************************/
.ArenaEditorToolbar
{
	border: 1px solid #cccccc;
	background: #f0f0f0;
	display: block;
	-moz-border-radius: 3px 3px 0 0;
}
.ArenaEditorToolbar img
{
	border: 0;
}
.ArenaEditorToolbar table
{
	border-collapse: collapse;
	border-spacing: 0;
}
.ArenaEditorToolbar table td
{
	padding: 3px;
}
.ArenaEditorToolbar table td:hover
{
	background: #fff;
}
.ArenaEditor
{
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
.ArenaEditorContainer
{
	border: 1px solid #cccccc;
	border-top: 0;
	-moz-border-radius: 0 0 3px 3px;
	display: block;
}
.ArenaEditorContainer textarea
{
	width: 100%;
	height: 400px;
	border: 0;
	background: #fff;
	font-family: monospace, courier, courier new;
	font-size: 11px;
	padding: 0;
}
.ArenaEditorToolbar hr
{
	margin: 0;
	padding: 0;
}
.ArenaEditorToolbar select
{
	top: auto;
	margin: 0;
	border: 0;
	padding: 2px;
	color: #000000;
}
.ArenaEditorPopupMenu hr
{
	margin: 0;
}
.ArenaEditorPopupMenu
{
	width: 190px;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	color: #000000;
	background: #f8f8f8;
	font-size: 11px;
	outline: 1px solid #999999;
}
.ArenaEditorPopupMenu li, .ArenaEditorPopupMenu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.ArenaEditorPopupMenu a
{
	cursor: pointer;
	display: block;
	padding: 4px;
	border-bottom: 1px solid #dddddd;
	color: #000000;
	text-decoration: none;
}
.ArenaEditorPopupMenu strong
{
	padding: 4px;
	border-bottom: 1px solid #dddddd;
	display: block;
	background: #d8d8d8;
}
.ArenaEditorPopupMenu a:hover
{
	background: #74ACE5;
}
.ArenaEditorPopupMenu a img
{
	border: 0;
	position: relative;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.ToggleBox img
{
	border: 0;
}
.ToggleBox a 
{
	color: #2E558C;
}

