
	<div>
		<p>
			<strong>ARENA 2 er endelig ferdig</strong><br/>
			<small>postet 01. mars 2010</small>
		</p>
		<p>
			ARENA 2 er ferdig og alle våre ARENA 2 kunder er oppdatert.
			ARENA 2 støtter Internet Explorer 7,8, Firefox 3, Google Chrome
			og Apple Safari nettleserne.
		</p>
		<p>
			<strong>ARENA 2 nærmer seg fullførelse</strong><br/>
			<small>postet 15. juni 2009</small>
		</p>
		<p>
			Det er få endringer igjen nå, før ARENA endelig oppnår
			versjon 2.0 status. ARENA er ennå ikke helt kompatibel med 
			Internet Explorer. Dette arbeides med, og vi vil opplyse
			dere om når det er klart.
		</p>
	</div>
	<hr/>
