body
{
	background: url(../gfx/bg_enterprise.jpg) top center;
	color: #ffffff;
	font-family: Ubuntu;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

h2
{
	text-transform: uppercase;
	font-size: 16px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	margin: 10px 0 10px 0;
}

#Logo
{
	position: absolute;
	top: 25%;
	left: 50%;
}
#Logo > img
{
	position: absolute;
	left: -400px;
	top: -60px;
}

#CenterBox
{
	width: 100%;
	background: #630202;
	position: fixed;
	top: 50%;
	height: 50%;
	z-index: 1;
	box-shadow: 0px 0px 60px rgba(0,0,0,0.6);
}

#Content
{
	position: relative;
	width: 320px;
	margin: auto;
	padding: 30px 10px;
	text-align: center;
	background: #300;
	background: rgba(0,0,0,0.3);
	border-radius: 0 0 3px 3px;
}

#UnderContent
{
	background: #000000;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	color: #c0c0c0;
	text-align: center;
	box-shadow: 0px 0px 160px rgba(0,0,0,0.6);
	padding-top: 10px;
	z-index: 2;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

#Content table
{
	margin: auto;
	text-align: left;
	width: 252px;
}

table td
{
	padding: 0 0 4px 0;
}

input, button
{
	background: #303030;
	color: #f0f0f0;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	border: 0;
	outline: 0;
	border-radius: 2px;
}

button
{
	cursor: hand; cursor: pointer;
	border-radius: 3px;
	background: #1f1f1f;
	box-shadow: inset 0px 0px 14px rgba(80,80,80,0.4);
	text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
	padding: 5px 8px 5px 8px;
	width: 140px !important;
	overflow: visible;
}

button img
{
	vertical-align: top;
}

input[type=text], input[type=password]
{
	width: 150px;
}
input[type=password]
{
	background: #1f1f1f;
}

hr
{
	height: 1px;
	border: 0;
	background: #600000;
}

